page-home {
  .anonymousUserImageIcon {
    font-size: 3.5rem;
  }
  .my-messages {
    background-color: #86b0f9;
    ion-avatar > ion-icon {
      color: white;
    }
    h2 {
      color: white;
    }
  }
  ion-footer {
    #current-message-input {
      width: 100%;
      background-color: transparent;
      border: none;
    }
  }
}
