<ion-header>
  <ion-navbar>
    <ion-title>
      Fuse Code Camp
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let message of messageService.messages | async" [ngClass]="{'my-messages': message.userName === USER_NAME_CONSTANT}">
      <ion-avatar item-left>
        <ion-icon class="anonymousUserImageIcon" name="person"></ion-icon>
      </ion-avatar>
      <p>{{message.userName}}</p>
      <h2 *ngIf="isThisMessageSimpleText(message)" [innerHTML]="message.messageContent | linky"></h2>
      <img *ngIf="doesThisMessageContainAnImage(message)" [src]="message.messageContent"/>
      <a *ngIf="doesThisMessageContainLocationData(message)" [href]="getLocationUrlFromMessageContent(message)" target="_blank">
        <ion-icon name="locate"></ion-icon>
        Click here for location
      </a>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    <button (click)="sendPhoto()" item-left ion-button>
      <ion-icon name="camera"></ion-icon>
    </button>
    <button (click)="sendLocation()" item-left ion-button>
      <ion-icon name="locate"></ion-icon>
    </button>
    <!-- Not using ion-input due to undesirable keyboard behavior -->
    <input id="current-message-input" [(ngModel)]="currentMessage" type="text" placeholder="Message"/>
    <button (click)="send(currentMessage)" item-right ion-button>SEND</button>
  </ion-item>
</ion-footer>
