page-home {
  .anonymousUserImageIcon {
    font-size: 3.5rem;
  }
  //ion-footer {
  //  position: fixed;
  //  #current-message-input {
  //    width: 100%;
  //    background-color: transparent;
  //    border: none;
  //  }
  //}
}
